---
layout: full-width
title: Schedule
weight: 5
nav_include: true
---

<br/>
<span class="huge date"><a href="#today" id="todaydate"><!--Optionally, this can be used as a fallback date: {{ site.time | date: "%A, %-d %B %Y" }}--></a></span>

    <script>
     // set an element
     //$("#todaydate").val( moment().format('D MMM YYYY') );

     // set a variable
     var todaydate = moment().format('dddd, D MMM, YYYY');
     
     // insert today into 
     document.getElementById("todaydate").innerHTML = todaydate
    </script>

  <ul class="content-listing ">
    {% for post in site.posts reversed %}      
        <li class="listing">
          <hr class="slender">
          {% capture datestamp %}{{post.date | date: "%F"}}{% endcapture %}
          {% capture today %}{{site.time | date: "%F"}}{% endcapture %}
          <a href="{{ post.url | prepend: site.baseurl }}" ><h1 class="contrast">{{ post.title }}</h1></a>
          <span class="larger">{{ post.date | date: "%A, %-d %B %Y" }}</span><span class="smaller date contrast" id="todaymark"></span>
          <br/>
          <div>{{ post.excerpt }}</div>
          <br/>
          <ul class="tags">
            {% for tag in post.tags %}<li><a href="/topics#{{ tag }}" class="tag">{{ tag | replace: " ", "-" }}</a></li>{% endfor %}
          </ul>
        </li>
    
<script>
var dateVariable = "2016-07-23";// parsed date string (YYYY-MM-DD is best
If ((new Date()).setHours(0,0,0,0) == (new Date(dateVariable)).setHours(0,0,0,0)) 
  { 
    document.getElementsById("todaymark")[0].setAttribute("class", "today");
  }
</script>
    {% endfor %}
  </ul>

