{% for ass in site.data.assignments %}
{% assign ass = ass[1] %}

<h1>{{ ass.title }}</h1>

{% if ass.description %}
  <p>
    {{ ass.description }}
  </p>
{% endif %}
{% if ass.link %}
  <p>
    
</p>Link to assignment instructions: {{ ass.link }}
{% endif %}
{% if ass.percent %}
  <p>
    {% if ass.number %}This assignment{% else %}{{ ass.title }}{% endif %} is worth {{ ass.percent }}% of your final grade. {% if ass.due %}It is due on {{ ass.due | date: "%A, %-d %B %Y" }} at midnight.{% endif %}
  </p>
{% endif %}

{% endfor %}