{% for assignment in site.data.assignments %}
{% assign assignment = assignment[1] %}

<h1>{% if assignment.number %}Assignment&nbsp;#{{ assignment.number }}:&nbsp;{% endif %}{{ assignment.title }}{{ assignment.title }}</h1>

{% if assignment.description %}
  <p>
    {{ assignment.description }}
  </p>
{% endif %}
{% if assignment.link %}
  Link to assignment instructions: {{ assignment.link }}
{% endif %}
{% if assignment.percent %}
  <p>
    {% if assignment.number %}This assignment{% else %}{{ assignment.title }}{% endif %} is worth {{ assignment.percent }}% of your final grade. {% if assignment.due %}It is due on {{ assignment.due | date: "%A, %-d %B %Y" }} at midnight.{% endif %}
  </p>
{% endif %}

{% endfor %}