

{% for ass in site.data.assignments %}

<h1>{% if ass.number %}Assignment&nbsp;{{ ass.number }}:&nbsp;{% endif %}{{ ass.title }}</h1>

  {% if site.mothballed and ass.number %}
  {% comment %}Site is mothballed: Link to mothballed assignments in assignments directory{% endcomment %}

<p>
  {{ ass.title }} has been archived <a href="{{site.baseurl}}/assignments/a{{ ass.number }}">here</a>.
</p>
    
  {% else %}
  {% comment %}Site is not mothballed; link to live assignments using assignments.yml; also list participation etc.{% endcomment %}
    
{% if ass.description %}
  <p>
    {{ ass.description }}
  </p>
{% endif %}
{% if ass.link %}
  <p>
    Link to assignment instructions: {{ ass.link }}
  </p>
{% endif %}
{% if ass.percent %}
  <p>
    {% if ass.number %}This assignment{% else %}{{ ass.title }}{% endif %} is worth {{ ass.percent }}% of your final grade. {% if ass.due %}It is due on {{ ass.due | date: "%A, %-d %B %Y" }} at midnight.{% endif %}
  </p>
{% endif %}
  
  {% endif%}
{% endfor %}