<footer>
  <div class="larger blognav">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo;&nbsp;<span class="smaller">Previous:</span>&nbsp;{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}"><span class="smaller">Next:</span>&nbsp;{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
  <hr class="slender">
  <ul class="footer-links">
    {% for info_hash in site.data.info %}
    {% assign info = info_hash[1] %}
      <li>
        {% if info.link %}<a href="{{ info.link }}" title="{% if info.alt %}{{ info.alt }}{% else %}{{info.var}}{% endif %}">{% endif %}<span class="{{ info.icon }}"></span>{% if info.var %}&nbsp;{{ info.var }}{% endif %}{% if info.link %}</a>{% endif %}
      </li>
    {% endfor %}  
  </ul>
<div class="credits">
  <span>{{site.title | upcase }} &nbsp;&nbsp;|&nbsp;&nbsp; {{site.subtitle}}
    <br/> 
  <span class="smaller">{{site.description}}</span>
  <br/><br/>
  <span class="smaller">{{ site.license }}</span>
  <br/>
  <span class="smaller"><a href="credits/">Content &copy; {{ site.course-year }} {{ site.data.info.instructor.var }}</a></span>
</div>  
</footer>