<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
	<a href="{{site.url}}{{site.baseurl}}/"><img class="badge" src="{{site.url}}{{site.baseurl}}{{site.mainicon}}" alt="UNC"></a>
	{% assign pages = site.pages | sort:"weight"  %}
	{% for node in pages %}
		{% if node.nav_include %}
		    {% if page.url == node.url %}
		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{% if node.shorttitle %}{{node.shorttitle}}{% else %}{{node.title}}{% endif %}</a>
		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{% if node.shorttitle %}{{node.shorttitle}}{% else %}{{node.title}}{% endif %}</a>
		    {% endif %}
	    {% endif %}
  	{% endfor %}
	</nav>
{% if site.mothballed == true %}
	<a href="https://github.com/jdmar3/inls161/">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
  </a>
{% endif %}
</header>