// Variables for Horizontal Timeline

// colors

$color-1: $text-color; //#383838; // Mine Shaft
$color-2: $contrast-color-dark; //#7b9d6f; // Highland
$color-3: $bg-color; //#ffffff; // White
$color-4: $border-color; //#f8f8f8; // Alabaster

// fonts 

$primary-font: $sans-font; //'Fira Sans', sans-serif;
$secondary-font: $body-font; //'Playfair Display', serif;