<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrap">
    {% include header.html %}
    </div>
<!-- Timeline -->
    <div id="timeline-embed" style="width: 100%; height: 60%; margin-top: 2em"></div>   
    <div class="wrap">
<!-- Content -->
    <article>
      {{ content }}
    </article> 
    {% include print-footer.html %}
    {% include footer.html %}
    </div>
<!-- JavaScript -->
    <script src="{{ '/js/timeline.js' | prepend: baseurl }}">     </script>

    <script>
        var additionalOptions = {
          hash_bookmark: true,
          timenav_position: "top",
          timenav_mobile_height_percentage: 30,
          debug: true,
          scale_factor: 2,
          trackResize: true,
          dragging: true,
          start_at_closest: true
        }
        var timeline = new TL.Timeline('timeline-embed', '{{ "/timeline3.json" | prepend: baseurl }}', additionalOptions);
    </script>
  </body>
</html>
